/***************** GLOBAL *****************/
:root {
    --primary-blue: #141526;
    --secondary-blue: #26273b;
    --tertiary-blue: #212539;
    --light-blue: #1cbfff;
    --pool-blue: #6afff3;
    --white: #ffffff;
    --gray: #9193a8;
}

@font-face {
    font-family: "Gauge Mono Regular";
    src: url("//db.onlinewebfonts.com/t/5d419330f5cf064d02b4d9bd3f1cd7f5.eot");
    src: url("//db.onlinewebfonts.com/t/5d419330f5cf064d02b4d9bd3f1cd7f5.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/5d419330f5cf064d02b4d9bd3f1cd7f5.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/5d419330f5cf064d02b4d9bd3f1cd7f5.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/5d419330f5cf064d02b4d9bd3f1cd7f5.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/5d419330f5cf064d02b4d9bd3f1cd7f5.svg#Gauge Mono Regular")
            format("svg");
}

html,
body {
    font-family: "HCo Gotham SSm", "Times", sans-serif;
}

@media only screen and (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

button {
    cursor: pointer;
}

/* Text */
.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: var(--white);
}

.text-gray {
    color: var(--gray);
}

/* Connections */
.multi-connection {
    border-color: #26c5dd;
}

.single-connection {
    border-color: #ffaf77;
}

/* Result icon */
.result-icon-container {
    border: 1px solid rgba(145, 147, 168, 0.5);
    border-radius: 100%;
    padding: 0.4rem;
    width: 37.09px;
    height: 37.09px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-icon-container .result-icon {
    width: 1.188rem;
    height: 1.188rem;
    fill: var(--gray);
}

/***************** DESKTOP *****************/

@media only screen and (min-width: 768px) {
}

/* Main */
.network-test {
    display: grid;
    grid-template-columns: 1fr 47.5rem 1fr;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer. ";
    padding: 1.25rem 0;
    background-color: var(--primary-blue);
}

.network-test .results-settings-container {
    grid-area: header;
}

.results-settings-container.disabled {
    display: none;
}

.results-settings-container .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list .header-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list .header-list-item:first-child {
    margin-right: 1rem;
}

.header-list-item .header-list-item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-item .header-list-item-text {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.188rem;
}

.header-list-item-link:hover .header-list-item-text {
    color: var(--light-blue);
}

.header-list-item-link .icon {
    width: 1rem;
    height: 1rem;
    fill: var(--gray);
    margin-right: 0.33333333rem;
}

.header-list-item-link:hover .icon {
    fill: var(--light-blue);
}

.network-test .result {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.938rem;
}

.result .connection-test-button-container {
    position: relative;
    margin: 68px 0 43px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    min-width: 11.25rem;
    height: 11.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.connection-test-button-container.disabled {
    display: none;
}

.result .connection-test-button-container:hover {
    background-color: #151e2f;
}

.connection-test-button-container .connection-test-button-link {
    font-size: 2.5rem;
    line-height: 11.375rem;
    font-weight: 500;
}

.connection-test-button-container:hover .ring {
    animation: none;
}

.connection-test-button-container .ring {
    position: absolute;
    border: 2px #26c5dd solid;
    border-radius: 100%;
    min-width: 11.25rem;
    height: 11.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: button-wave;
    animation-delay: 3.5s;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
}

@keyframes button-wave {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    12.5% {
        opacity: 0;
        transform: scale(0.995);
    }
    16.667% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale(1.3);
    }
}

.result .connection-test-happening {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.connection-test-happening .network-speedometer {
    margin-top: 1.25rem;
    margin-bottom: 2.313rem;
    width: 100%;
    height: auto;
    max-width: 21.25rem;
}

.network-speedometer.disabled {
    display: none;
}

.connection-test-happening .connection-parameters {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5.681rem;
    justify-content: center;
}

.connection-parameters.disabled {
    display: none;
}

.connection-parameters .parameter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameter .parameter-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parameter-title .parameter-icon {
    width: 0.928rem;
    height: 0.928rem;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.parameter-title #icon-ping {
    fill: var(--white);
}

.parameter-title #icon-download {
    fill: var(--pool-blue);
}

.parameter-title #icon-upload {
    fill: #bf71ff;
}

.parameter-title .parameter-name {
    margin-right: 0.3rem;
    margin-left: 0.4rem;
}

.parameter-title .parameter-name,
.parameter-title .parameter-unit {
    font-size: 0.813rem;
    line-height: 1.375rem;
    font-weight: 500;
}

.parameter-title .parameter-unit {
    color: var(--gray);
}

.parameter .parameter-value {
    font-family: "Gauge Mono Regular", "HCo Gotham SSm", "Times", sans-serif;
    font-size: 2.875rem;
    line-height: 3.5rem;
    font-weight: 400;
}

#download-upload-line-graphic {
    width: 100%;
}

#download-upload-line-graphic.disabled {
    display: none;
}

.result .connection-information {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.connection-information .connection-company {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.25rem;
    width: 100%;
}

.connection-company .company-name-connection-ip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.company-name-connection-ip-container .company-name {
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.688rem;
}

.company-name-connection-ip-container .connection-ip {
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.connection-company .user-icon-container {
    margin-left: 0.557rem;
}

.server-information {
    margin-left: 1.25rem;
    width: 100%;
}

.server-information .server-container {
    display: grid;
    grid-template-columns: 46px 1fr;
    grid-template-rows: 3.188rem 1fr;
    grid-template-areas:
        "globe-icon-container server-name-city"
        ". server-name-city";
    align-items: center;
}

.server-container .globe-icon-container {
    grid-area: globe-icon-container;
    margin-right: 0.557rem;
}

.server-container .server-name-city {
    grid-area: server-name-city;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.server-name-city .server-name {
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.688rem;
}

.server-name-city .server-name:hover {
    color: var(--pool-blue);
}

.server-name-city .server-city {
    font-size: 0.983rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.server-name-city .server-link {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--light-blue);
}

.server-name-city .server-link:hover {
    color: var(--pool-blue);
}

.connection-type {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection-type.disabled {
    display: none;
}

.connection-type .connections-text {
    color: var(--gray);
    font-size: 0.813rem;
    line-height: 1.313rem;
    margin-bottom: 0.25rem;
}

.connection-type .connections-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.connections-container .connection-type-link:hover:not(.text-white) {
    color: var(--pool-blue);
}

.connections-container .connection-icon-container {
    margin: 0 0.813rem;
    cursor: pointer;
}

.connections-container .connection-icon-container:hover {
    border-color: var(--white);
}

.connection-icon-container:hover .connection-icon {
    fill: var(--white);
}

.connection-icon-container .connection-icon:not(.active) {
    display: none;
}
