.links-container {
    padding: 0 1.25rem;
}

.footer-title {
    color: #d7d8df;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 1.5rem;
    display: inline-block;
    margin-bottom: 0.929rem;
}

@media (hover: hover) {
    .footer-title:is(a):hover {
        color: var(--white);
    }
}

.footer-links-list {
    margin-bottom: 1.75rem;
}

.footer-link {
    color: var(--gray);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    display: inline-block;
    margin-bottom: 0.163rem;
}

.footer-link:hover {
    color: var(--white);
}
