.footer-main-links {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "speedtest apps account ookla"
        ". . enterprise languages"
        ". . ookla-brands ziff-davis";
}

.footer-title .ookla-logo {
    fill: #d7d8df;
}

.footer-title:hover .ookla-logo {
    fill: var(--white);
}

.footer-link.social-media .icon {
    margin-right: 0.292rem;
    height: 1.313rem;
    width: auto;
    fill: var(--gray);
    vertical-align: middle;
}

.footer-link.social-media:hover .icon {
    fill: var(--white);
}

.speedtest-container {
    grid-area: speedtest;
}

.apps-container {
    grid-area: apps;
}

.account-container {
    grid-area: account;
}

.enterprise-container {
    grid-area: enterprise;
}

.ookla-brands-container {
    grid-area: ookla-brands;
}

.ookla-container {
    grid-area: ookla;
}

.languages-container {
    grid-area: languages;
}

.languages-container .footer-item,
.ziff-davis-container .footer-item {
    display: inline-block;
    margin: 0 0.875rem 0.175rem 0rem;
}

.languages-container .footer-link {
    margin: 0;
}

.ziff-davis-container {
    grid-area: ziff-davis;
}
