.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.623rem;
    background-color: var(--primary-blue);
}

.header-navigation-mobile-controls {
    display: none;
}
