.main-network-test {
    display: grid;
    grid-template-columns: 1fr 47.5rem 1fr;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer. ";
    padding: 2.188rem 0 4rem 0;
}
