@media only screen and (max-width: 768px) {
    .navigation-mobile-controls {
        display: block;
        margin-left: auto;
        grid-area: mobile-controls;
    }

    .navigation-mobile-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-blue);
        border: none;
        width: 22px;
        height: 2px;
        background: var(--gray);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .navigation-mobile-toggle::before,
    .navigation-mobile-toggle::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 2px;
        background: var(--gray);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .navigation-mobile-toggle::before {
        transform: translateY(-6px);
    }

    .navigation-mobile-toggle::after {
        transform: translateY(6px);
    }

    /* Animation */
    .navigation-mobile-controls.open .navigation-mobile-toggle {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .navigation-mobile-controls.open .navigation-mobile-toggle::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .navigation-mobile-controls.open .navigation-mobile-toggle::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}
