@media only screen and (max-width: 768px) {
    .navigation-list-item {
        padding: 0;
        position: static;
        min-width: 100%;
        padding-bottom: 0.5rem;
    }

    .navigation-list-item:not(:last-child) {
        border-bottom: 1px solid rgba(94, 95, 115, 0.5);
        margin-bottom: 0.875rem;
    }
}
