@media only screen and (max-width: 845px) {
    .header-navigation-submenu {
        background-color: var(--tertiary-blue);
        border-radius: 0;
        display: flex;
        flex-direction: column;
        z-index: initial;
        position: static;
        transform: none;
        padding: 0;
    }

    .header-navigation-submenu::before {
        content: none;
    }
}
