@media only screen and (max-width: 768px) {
    .main-connection-information {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: min-content;
    }

    .main-connection-information .connection-company {
        margin-bottom: 1rem;
        direction: rtl;
    }

    .connection-company .user-icon-container {
        margin-right: 0.557rem;
    }

    .main-connection-information .server-information {
        margin-left: 0;
    }
}
